.d-block {
    width: 50%; /* Задаем ширину изображения в 100% относительно родительского контейнера */
    height: auto; /* Автоматически рассчитываем высоту изображения, чтобы сохранить пропорции */
    display: block; /* Устанавливаем изображение как блочный элемент */
    margin: 0 auto; /* Выравниваем изображение по центру горизонтально */
}
.map{
    text-align: center;
}
